
<h2>Upload images</h2>
<div class="row">
  <div class="col-md-12 card p-1">
    <div class="image-wrapper" *ngIf="url">
      <img class="image" [src]="url" height="200">
    </div>
    <div class="browse-btn">
      <input type="file" name="cameraImg" id="cameraImg" (change)="onSelectedFile($event)" />
      <div class="browse-image">
     
        <img src="assets/images/upload.png" width="60px" />
        <p>Browse image</p>
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea   class="form-control" placeholder="Description" required [(ngModel)]="description">
      </textarea>
    </div>
    <div class="clearfix"></div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addToUploadList()" >Add</button>
        <button class="btn btn-primary" (click)="startUploading()">Upload</button>
      </div>
    <p>{{ error }}</p>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Descripiton</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploadListArray; index as i" >
          <th scope="row">{{i+1}}</th> 
          <td><img [src]="item.image" height="100px" width="60px"> <br/></td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td><button class="btn btn-warning" (click)="removeFromUploadList(item)">Remove</button></td>
        </tr>
      </tbody>
    </table>
      <p>{{ error }}</p>
  </div>
</div>
