
.image-wrapper{
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    margin-bottom: 25px;
}
.browse-btn {
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    width: 150px;
    height: 150px;
    border:1px solid #ccc;
    text-align: center;
}
.browse-image {
    position: relative;
    top: 25%;
}
.image{
    width:100%;
    height:125px;
}
a.delete-btn {
    color: rgb(20, 3, 3);
    cursor: pointer;
}
#cameraImg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 3;
}
.error {
    color: #ff0000;
}

.form-group {
    padding: 15px !important;
}

.btn {
    margin-left: 5px !important;
}

.table {
    margin-top: 15px;
}
