
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Descripiton</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let imageobj of images; index as i" >
          <th scope="row">{{i+1}}</th>
          <td><img [src]="imageobj.image" height="200" width="150"> <br/></td>
          <td appSentenceCase>{{imageobj.description}}</td>
          <td><button class="btn btn-danger" (click)="deleteImage(imageobj)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
