<div class="container" style="padding-bottom: 10px;">

  <button style="margin-bottom: 5px; margin-top: 10px;" *ngIf="!addImages" (click)="onAddImages()" class="btn btn-primary">Go Add Image</button>
  <button style="margin-bottom: 5px; margin-top: 10px;" *ngIf="addImages" (click)="showListing()" class="btn btn-primary">Back to listing</button>
  <app-list-images *ngIf="!addImages" ></app-list-images>
  <app-image  *ngIf="addImages" ></app-image>
  
  <br /><br />
  <div *ngIf="message" class="alert alert-success">{{message}}</div>
</div>
